html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
body {
	margin: 0;
	background-color: #F5F7FA;
	font-family: "Roboto", sans-serif;
}
img {
	max-width: 100%;
	height: auto;
	border: 5px solid #fff;
}
figure {
	margin: 0;
	padding: 10px;
	a {
		display: block;
	}
}

header {
	@header-bg: #196e76;
	background-color: @header-bg;
	text-align: center;
	h1, a {
		padding: 15px;
		color: #fff;
		text-transform: uppercase;
	}
	h1 {
		margin: 0;
		font-size: 18px;
	}
	a {
		font-weight: 300;
		display: block;
		text-decoration: none;
		background-color: darken(@header-bg, 10%);
	}
}
.demo-content {
	max-width: 920px;
	width: 100%;
	padding: 10px;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto; 
}

@media screen and (min-width: 630px) {
	header {
		text-align: none;
		h1, a {
			font-size: 12px;
		}
		h1 {
			float: left;
		}
		a {
			float: right;
		}
	}
	.three figure {
		float: left;
		width: (100% / 3);
	}
	.two figure {
		float: left;
		width: (100% / 2);
	}
}